<div class="nav-menu">
  {{ page.menu_navigation }}
</div>

<div class="site-header">
  {{ page.header }}
</div>

<div class="side-bar">
  {{ page.side_bar }}
</div>

<div class="site-content">
  {{ page.main_content }}
</div>

<div class="site-footer">
  {{ page.footer }}
</div>
