<div class="causes_section1">
    <div class="causes_content">
        <div class="causes_image">
            <img src="{{ content.field_image[0]['#markup'] }}">
            <a href="{{ url }}" class="btn btn-read-more">{{ 'Read more'|t }}</a>
        </div>
        <div class="causes_imagecaption">
            <h4>{{ label }}</h4>
            {{ content.body }}
            <a href="{{ url }}" class="btn btn-read-more">{{ 'Read more'|t }}</a>
        </div>
    </div>
</div>