<header>
    <div class="container">
      <div class="header">
        <div class="header__contact">
            {{ page.contact }}
        </div>
            {{ page.social_contact }}
      </div>

      <nav>
        <div class="nav_bar">
          {{ page.top }}
        </div>
      </nav>
    </div>
  </header>

{{ page.content }} 

<footer class="footer">
  <div class="container">
    <div class="footer_section">  
      {{ page.bottom }}    
    </div>
    <div class="footer_end">
      {{ page.footer_copyright }}
    </div>
  </div>
</footer>